body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:hsl(0, 0%, 0%);
}

h1{
    font-size:20px;
}

p{
    font-size:14px;
}

.country{
    color:hsl(75, 94%, 57%);
}

.box-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.text-container{
   display:flex;
   flex-direction:column;
   border:1px solid white;
   text-align:center;
}
